@import '../../style/variable.scss';
.search{
    width: 100%;
    border: 1px solid $masterColor;
    padding: .2 rem 0.5rem;
    border-radius: 5px;
    input{
        width: 100%;
        border: none;
        &:focus{
            outline: none;
        }
    }
    svg{
        color: $masterColor;
        cursor: pointer;
    }
}